// Text
$text-color-primary: rgba(0,0,0,.87);
$text-color-secondary: rgba(0,0,0,.54);
$text-color-disabled: rgba(0,0,0,.38);

$text-color-white: rgba(255, 255, 255, .8);
$text-color-white--active: white;
$text-color-white--hover: white;

// Theme
$color-primary: #4CA759;
$color-secondary: #C4D552;

// Header
$header-height: 64px;